@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  line-height: 1;
}

a {
  display: block;
  color: #E5E7EB;
  text-decoration: none;
}



img {
  width: 100%;
  display: block;
}

/* LAYOUT */

.header, .hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.hero {
  padding: 50px 0 100px;
}

.hero-right, .hero-left {
  flex: 1 100px;
}

.hero-right {
  height: 200px;
}

.hero-left {
  padding: 0 50px 0 0;
}

.hero-left p {
  margin: 20px 0;
}

.hero-right img {
  object-fit: cover;
  object-position: top;
  height: 100%;
}

.header ul {
  display: flex;
}

.header ul a {
  padding: 10px;
}

/*LAYOUT OF RANDOM SECTION*/

.random {
  text-align: center;
  overflow: auto;
  padding: 0 0 100px 0;
}

.random .container, .quote .container {
  max-width: 800px;
}

.random h2 {
  margin: 50px 0;
  overflow: auto;
}

.random img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  outline: 5px solid #3882F6;
  border-radius: 20px;
}


.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  flex: 0 10px;
}

.card div {
  height: 160px;
  width: 160px;
  margin: 0 0 15px 0;
}

.card:nth-child(3) img {
  object-position: bottom;
}

.card:nth-child(4) img {
  object-position: center;
}

/* QUOTE LAYOUT*/

.quote {
  padding: 80px 0;
}


/*ACTION LAYOUT*/

.action .container {
  margin: 70px auto;
  padding: 50px 120px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}


/*FOOTER  LAYOUT */

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Utils */
.btn {
  background-color: #3882F6; 
  color: white;
  padding: 10px 35px;
  border: none;
  border-radius: 10px;
  font-weight: 900;
}

.btn-outline {
  background-color: transparent;
  border: 2px solid white;
}

/* TYPOGRAPHY*/

html {
  font-family: 'Roboto', sans-serif;
}

.hero h1 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero p {
  color: #E5E7EB;
  font-size: 18px;
}

.header b {
  color: #F9FAF8;
  font-size: 24px;
}

.random h2 {
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
}

.random p {
  color: #292929;
}

.quote-text {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: 300;
} 

.quote-author {
  font-size: 25px;
  text-align: right;
}

.action .container {
  background-color: #3882F6;
  color: white;
}

footer {
  color: #E5E7EB;
}


/* STATES */
.header ul a:hover, button:hover {
  text-decoration: underline; 
  background-color: #3882C0;
  cursor: pointer;
}


/*COLORS OF SECTIONS*/

header, footer{
  background-color: #1F2937;
}

.random {
  background-color: #fff;
}

.quote {
  background-color: #E5E7EB;
}